<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="<%= style %>" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="text-center pb-10">
      <img width="100" src="<%= icon %>" />
      <br />
      <h2 class="font-weight-bold text-uppercase"> SYSSOFT S.A. </h2>
      <p>R.U.C.: 33-12345678-9</p>
      <p>av. las Américas, 123</p>
      <p>lima - Perú</p>
      <p>Telf.: 987654321</p>
      <p>Cel.: 987654321</p>
      <p><i class="flaticon-envelope mr-2"></i>Email: info@syssoft.es</p>
    </div>

    <div class="border-1 border-dashed"></div>

    <div class="text-center pt-5 pb-5">
      <p class="font-weight-bold text-uppercase font-size-13">FACTURA</p>
      <p class="font-weight-bold font-size-13">F0001-000001</p>
    </div>

    <div class="pt-5 pb-5">
      <p><span class="font-weight-bold">Fecha de Emisión: </span> 10/10/2020 10:10:10</p>
      <p><span class="font-weight-bold">Nombre:</span> empresa del desarrollo humano s.a.</p>
      <p><span class="font-weight-bold">RUC / D.N.I.:</span> 10001000100</p>
      <p><span class="font-weight-bold">Dirección:</span> av. las Américas, 123</p>
      <p><span class="font-weight-bold">Forma de pago: </span> CONTADO</p>
      <p><span class="font-weight-bold">Comentario: </span> EL COMPROBANTE FUE ENVIADO POR EL EMPRESA DEL DESARROLLO HUMANO S.A.</p>
    </div>

    <div class="border-1 border-dashed"></div>

    <div class="pt-5 pb-5">
      <table>
        <thead>
            <tr>
                <th>Cantidad</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Importe</th>
            </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i < 2; i++) { %>
            <tr>
                <td>10.10</td>
                <td>Gaseosa de 100g</td>
                <td>1</td>
                <td>1000.00</td>
            </tr>
            <tr>
                <td>3.0</td>
                <td>Galleta salada de 80g con 3 huevos</td>
                <td>50.00</td>
                <td>1500.00</td>
            </tr>
            <tr>
                <td>2</td>
                <td>CHIPS</td>
                <td>100.00</td>
                <td>1000.00</td>
            </tr>
            <tr>
                <td>100</td>
                <td>Fuente de gas</td>
                <td>1.00</td>
                <td>1000.00</td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>

    <div class="border-1 border-dashed"></div>

    <div class="pt-5 pb-10" style="display: flex; justify-content: end;">
      <table>
        <tbody>
            <tr>
                <td class="text-right pr-2 font-size-12">SUB TOTAL:</td>
                <td class="text-right font-weight-bold font-size-12"><span>1000.00</span></td>
            </tr>          
            <tr>
              <td class="text-right pr-2 font-size-12">TOTAL:</td>
              <td class="text-right font-weight-bold font-size-12"><span>1000.00</span></td>
            </tr>
        </tbody>
      </table>
    </div>

    <div class="border-1 border-dashed"></div>

    <div class="pt-5 pb-5">
      <p class="font-size-13">Importe en Letras: CIEN SOLES PARA LAS LETRAS</p>
    </div>

    <div class="border-1 border-dashed"></div>

    <footer class="pt-5 pb-5">    
      <div class="text-center mt-2">
          <img src="<%= icon %>" width="70px" class="m-0">
          <br />
          <a href="https://www.syssoftintegra.com/" class="font-family-pacifico">
            Emitido por: <span class="font-weight-bold">www.syssosftintegra.com</span>
          </a>
      </div>

      <p class="text-danger font-weight-bold text-center">           
          Representación Impresa del pre comprobante. No tiene Validez!
      </p>
    </footer>
  </body>
</html>
